button{
        padding: 8px;
        font-size: 16px;
        background-color: rgb(112, 0, 144);
        color: white;
        border: solid rgb(112, 0, 144);
        border-radius: 15px;
        display: flex;
        justify-self: center;
        transition: ease 0.3s;
    }
    button:hover{
        transform: scale(1.15);
        background-color:rgb(112, 0, 144);
        border-color: rgb(112, 0, 144);
    }

div{    
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: rgb(112, 0, 144);
    border: 5px solid rgb(112, 0, 144);
    border-radius: 10px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    a, .item{
        display: inline-flex;
        flex-direction: column;
        padding: 14px 16px;
        text-decoration: none;
        color: white;
        transition: ease 0.2s;
    }
    a:hover{
        transform: scale(1.1);
        color: rgb(240, 202, 250);
    }
}

.form{
    justify-self: center;
    padding: 100px;
    background-color: rgb(240, 202, 250);
    border-radius: 20px;
    padding-block: 50px;
    font-size: larger;
    input{
        margin: 5px;
    }
}

body {
    font-size: 18px;
}

.book{
    justify-self: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(240, 202, 250);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    width: 33%;
    h4{
        justify-self: center;
    }
} 
.single_book{
    justify-self: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(240, 202, 250);
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    margin: 5px;
    width: 50%;
    height: auto;
    h4, p, a, h1{
        justify-self: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
    }
    img{
        display: block;
        max-height: 400px;
        max-width: 400%;
        width: auto;
        height: auto;
    }
}

.line_center{
    justify-self: center;
    justify-items: center;
    align-items: center;
}

#scroll {
    max-height: 650px;
    overflow-y: auto;
}

.book_box{
    text-decoration: none;
    color: black;
}
.space:hover{
    border: 2px solid rgb(112, 0, 144);
}