<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Books</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1 class = 'browsing_h1'>All Recipe Books</h1>
        <div id = 'scroll'>
        {% for book in books %}
            <div class = 'book'>
            <!-- <a class = 'book_box' href = '/recipe_books/{{book.id}}'> -->
            <h4>{{book.title}}</h4>
            <p>Author: {{book.author}}</p>
            <h4>Release year: {{book.release_year}}</h4>
            <!-- </a> -->
            </div>
        {% endfor %}
        </div>
    </body>
</html>